<div id="body" class="outer-wrap">
	<div class="wrap">
		<div class="row">
			<div class="column one-third last centered">
				<div class="section" id="signin">
					<div class="section-header">
						<h2 class="section-title">Use Your Account</h2>
					</div>
					<div class="section-body">
						<div class="inside">
							<p>
								<a href="#" id="signin-facebook">Sign In Using Facebook</a>
							</p>
							<p>
								<a href="#" id="signin-twitter">Sign In Using Twitter</a>
							</p>
							<p>
								<span class="or"><span>OR</span></span>
							</p>
							<%= form_tag(auth_process_signin_path) do %>
								<p>
									<%= text_field_tag 'users[username]', '', class: 'text', placeholder: 'USERNAME' %>
								</p>
								<p>
									<%= password_field_tag 'users[password]', '', class: 'text', placeholder: 'PASSWORD' %>
								</p>
								<p class="remember-me">
								 	<%= check_box_tag "remember", 'yes', false, class: 'checkbox' %> Remember Me
								 </p> 
								<p>
									<%= submit_tag "Sign In", class: "button big" %>
								</p>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>