<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '616579641712933',                        // App ID from the app dashboard
      channelUrl : '//0.0.0.0:3000/channel.html', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                 // Look for social plugins on the page
    });

    // Check if the user has login or not
    FB.Event.subscribe('auth.authResponseChange', function(response) {
      console.log(response);
      if(response.status === 'connected') {
        FB.api('/me', function(res) {
          $('#username').val(res.username);
          $('#email').val(res.email);
          $('#fullname').val(res.name);
        });
      }
    });

    // click the login button
    $('#signin-facebook').click(function() {
      FB.login(function(response) {
        
      }, {scope: 'email, user_about_me, publish_stream'});
      return false;
    });
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>