<!DOCTYPE html>
<html>
<head>
    <title>TRAVEES - Social Itenerary Platform</title>
  	
    <!-- CSS -->
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

    <!--[if lte IE 8]>
        <%= stylesheet_link_tag    "mapbox.ie" %>
    <![endif]-->
    
    <!-- JS -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <!-- ICONS -->
    <link rel="Shortcut Icon" href="/assets/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/icons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/icons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/icons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/icons/apple-touch-icon-precomposed.png">    
    
    <%= csrf_meta_tags %>
</head>
<body>
	<div id="top-navigation" class="wrap-outer">
		<div class="wrap">
	    	<div class="row">
	        	<h1 id="site-name"><a href="TRAVEES - Social Itenerary Platform" title="">TRAVEES</a></h1>

                <% if @user_id.nil? %>
	        	<ul id="sign-form-nav">
	            	<li><a href="<%= auth_sign_in_path %>" class="signin">Sign In</a></li>
	            	<li><a href="<%= auth_sign_up_path %>" class="button">Sign Up</a></li>
	        	</ul>
                <% else %>
                <ul id="top-menu">
                    <li id="top-menu-search">
                        <a href="#">
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li id="top-menu-new">
                        <a href="#">
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li id="top-menu-user">
                        <a href="#">
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li id="top-menu-settings">
                        <a href="#">
                            <span class="icon"></span>
                        </a>
                    </li>
                    <li>
                        <%= link_to "Sign Out", auth_sign_out_path, method: :delete %>
                    </li>
                </ul><!-- #top-menu -->
                <% end %>
	    	</div><!-- .row -->
		</div>
	</div>

	<%= yield %>

    <div id="footer" class="wrap-outer">
        <div class="wrap">
            <div id="footer-menu">
                &copy; <a href="">PT. Travees Media</a> &bull;  <a href="">About Travees</a> &bull; <a href="">Support</a> &bull; <a href="">Jobs</a> &bull; <a href="">Term of Service</a> &bull; <a href="">Privacy Policy</a>
            </div>
        </div>        
    </div>
</body>
</html>